body {
    padding: 50px;
    font-family: Helvetica;
}

table {
    border-spacing: 0;
}

#list address {
    font-size: 13pt;
    font-style: normal;
}

.button {
    border: 0;
    background: #3e779d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    font-size: 16pt;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
}

.button:hover {
    background: #28597a;
}
.button:active {
    background: #1b435e;
}

.button.delete_btn {
    background: red;
}

.button.dep_btn {
    background: green;
}

.button:disabled {
    background: gray;
}

#todo_list {
    width: 70%;
    float: right;
    text-align: center;
    font-size: 16pt;
}

#adding_dep {
    margin: 10px;
    visibility: hidden;
}

.task_str {
    padding: 10px;
}

.dep_selected {
    background: cyan;
}

#map_container {
    width: 30%;
    float: left;
}

#map {
    float: right;
    width: 100%;
    height: 100%;
}

#todo_list > input[type="text"] {
    height: 30px;
    font-size: 16pt;
}

#list {
    margin: 0 auto;
    margin-bottom: 20px;
}

#list tr {
    padding: 10px;
    font-size: 15pt;
}

#list td {
    max-width: 400px;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

#list td:first-child {
    width: 400px;
}

.dependency {
    font-size: 13pt;
}

.dependency td:first-child {
    padding-left: 70px;
}

.clicked {
    background: green;
}