html {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: url("img/map.png");
    background-size: 100%;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#overlay {
    background-color: rgba(0,0,0,.7);
    height: calc(100% - 10px);
    width: 100%;
    padding-top: 10px;
}

#overlay #info {
    text-align: center;
    width: 90%;
    float: left;
}

#overlay #go {
    width: 10%;
    float:left;
}

#overlay #go img {
    width: 100px;
    margin-top: 300px;
    float: right;
    margin-right: 100px;
    margin-bottom: -120px;
}

#app img {
    width: 100px;
    margin-top: -20px;
    margin-right: 20px;
    float: right;
}


#overlay #go img:hover, #app img:hover {
    cursor: pointer;
}

#overlay #go a {
    color: white;
}

#overlay h1 {
    color: #eee;
    font-family: "Montserrat";
    font-size: 60px;
    margin-bottom: 0;
}

#overlay p {
    color: #eee;
    font-family: "Lato";
    font-weight: 300;
    font-size: 20px;
}

#overlay img {
    width: 750px;
    margin-top: 20px;
}

#app {
    display: none; 
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 12pt;
}

table {
    border-spacing: 0;
}

#list address {
    font-size: 13pt;
    font-style: normal;
}

.button {
    border: 0;
    background-color: #5bc0de;
    border-color: #46b8da;
    color: white;
    font-size: 17pt;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color:#31b0d5;
    border-color:#269abc
}

.button:active {
    background: #1b435e;
}

.button.delete_btn {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.button.delete_btn:hover {
    background-color:#c9302c;
    border-color:#ac2925
}

.button.dep_btn {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.button.dep_btn:hover {
    background-color:#449d44;
    border-color:#398439
}

.button:disabled {
    background: #ccc;
    cursor: default;
}

.button:disabled:hover {
    background: grey;
}

#task_list {
    float: right;
    text-align: center;
    font-size: 16pt;
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding-top: 50px;
    width: 60%;
    padding-bottom: 50px;
}

#task_list table {
    margin-top: 50px;
    clear:both;
}

#task_list table:empty {
    margin-top: 0;
}

.task_str {
    padding: 10px;
}

.task_str:hover {
    cursor: pointer;
}

.dep_selected {
    background: #5bc0de;
}

.dep_hovered {
    background: #8CD3E8;
}

#map_container {
    height: 100%;
    width: 40%;
    float: left;
}

#map {
    float: right;
    width: 100%;
    height: 100%;
}

#task_list input[type="text"] {
    padding: 10px;
    height: 40px;
    font-size: 16pt;
}

#list {
    margin: 0 auto;
    margin-bottom: 20px;
    overflow-y: scroll;
}

#list tr {
    padding: 10px;
    font-size: 15pt;
}

td {
    max-width: 400px;
    border-bottom: 1px solid #ccc;
    margin: 0;
    word-wrap: break-word;
}

tr td:first-child {
    border-right: 1px solid #ccc;
    padding: 10px;
}

tr td:nth-child(2) {
    width: 400px;
}

.dependency td:nth-child(2) {
    width: 330px;
    padding-left: 70px;
    font-size: 13pt;
}

tr td:nth-child(4) {
    padding-right: 20px;
}

.time {
    width: 50px;
    text-align: center;
}


.time .edit {
    display: none;
    width: 50px;
}

.dependency {
    padding: 0;
}

.dependency td {
    border-bottom: 0;
}

.dependency td:first-child div {
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.clicked {
    background: green;
}

#instructions {
    text-align: left;
    margin: 50px;
}