<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.0.1/q.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.9/backbone.localStorage-min.js"></script>
    <script src="static/index.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <link href="static/index.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="map_container">
      <div id="map"></div>
    </div>
    
    <div id="task_list"> 
      <input id="searchTextField" type="text" size="50" placeholder="Enter an address or POI">

      <table id="list">
        <tbody>

          <script type="text/template" id="task-template">
            <td> <%- letter %> </td>
            <td class="task_str">
              <b> <%- name %> </b>
              <br>
              <b> <%- id %> </b>
              <address> <%- address %> </address>
            </td>
            <td class="time">
              <div class="edit_view">
                <%- earliest %>
              </div>
              <input type="text" class="edit" value="<%- earliest %>" which="earliest">
            </td>
            <td class="time">
              <div class="edit_view">
                <%- duration %>
              </div>
              <input type="text" class="edit" value="<%- duration %>" which="duration">
            </td>
            <td class="time">
              <div class="edit_view">
                <%- latest %>
              </div>
              <input type="text" class="edit" value="<%- latest %>" which="latest">
            </td>
            <td>
              <input type="button" class="button dep_btn" value="+" disabled>
            </td>
            <td>
              <input type="button" class="button delete_btn" value="x">
            </td>
          </script>
          
          <script type="text/template" id="dep-template">
            <td></td>
            <td><div><b><%- letter %></b> - <%- name %> </div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <input type="button" class="button delete_btn" value="x">
            </td>
          </script>

        </tbody>
      </table>
      
      <input id="submit_btn" type="button" class="button" value="Figure it out" onclick="submitTasks()">
      
      <div id="instructions">
        <p>Click on a location's text to select it.</p>
        <p>When any locations are selected, click the green '+' next to a location to add the selected ones as dependencies.</p>
        <p>When a location has dependencies, it means those dependencies must be visited first, but in no particular order.</p>
        <br>
        <p>Double-click a time to edit it.</p>
        <p>The three columns are <b>earliest</b>, <b>duration</b>, and <b>latest</b>, respectively.</p>
        <p>Earliest and latest are in <b>hhmm</b> format where <b>hh</b> is the hour from 0 - 24 and <b>mm</b> is the minutes between 0 - 60.</p>
        <p>Duration is in minutes.</p>
        <p>Times can be read as: I want to be here no longer than <b>earliest</b> for <b>duration</b> but no later than <b>latest</b>.</p>
    </div>
  </body>
</html>
