<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/q.js/1.0.1/q.min.js"></script>
    <script src="static/js/index.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <link href="static/css/index.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="map_container">
      <div id="map"></div>
    </div>
    
    <div id="todo_list"> 
      <input id="searchTextField" type="text" size="50" placeholder="Enter an address or POI">
      
      <div id="adding_dep">
        <b>Select a location to add as a dependancy...<b>
      </div>
      
      <table id="list">
        <tbody>
        </tbody>
      </table>
      
      <input id="submit_btn" type="button" class="button" value="Figure it out" onclick="submitTasks()">
    </div>
  </body>
</html>
